@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome to the Internship Management System</h1>
    <p class="lead">Connecting Students, Universities, and Companies.</p>
    <a href="/Student/Dashboard" class="btn btn-info mt-3 btn-lg">Go to Student Dashboard Test</a>
</div>
